* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
}

.wrapper {
    margin: 0 auto;
    width: 1530px;


}
.menu_burger {
    display: none;
}
header {
    height: 70px;
    padding-top: 10px;
    background-color: #3B3937;

}

.main-menu {
    float: right;
    padding-top: 10px;
}

.main-menu ul li {
    display: inline-block;
    list-style: none;
    margin-left: 24px;
}

.main-menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18pt;
}

.main-menu span {
    color: #FFD6A8;
}

.logo {
    float: left;
    margin-left: 70px;
}

/* баннер */

.banner {
    background-image: url('img/banner.png');
    width: 100%;
    height: 861px;
    padding-top: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}


.banner .two {
    color: #FFD6A8;

}


button {
    background-color: #A9845C;
    width: 247.68px;
    height: 82.56px;
    color: #fff;
    font-size: 1.2em;
    border: none;
    font-weight: 200;
}

.ring {
    width: 754px;
    height: 754px;
    margin: auto;
    background-color: #221B1582;
    border-radius: 500px;
    padding-top: 130px;
}

.ring p {
    color: #ffffff;
    font-size: 1.6em;

    margin-bottom: 20px;
}

.ring h1 {
    font-size: 60px;
    color: #fff;
}

/* Витрина */

h1 {
    margin-top: 30px;
    font-size: 32pt;
    margin-bottom: 20px;
}

.prod {
    display: grid;
    grid-template-columns: repeat(6, 230px);
    grid-template-rows: repeat(2, 230px);
    gap: 30px;
}

.elem {
    border: 1px solid #3E2310;
}

.elem img {
    margin-left: 43px;
}

.elem p span {
    color: #B14101;
    float: right;
    margin-right: 10px;
    font-weight: 600;
}


.info-block {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 360px);
    grid-template-rows: repeat(1, 241px);
    gap: 30px;
}

.block {
    border: 1px solid #DADADA;
    width: 360px;
    height: 241px;

}

.block img {
    width: 360px;
    height: 99.08px;
}

.block p {
    font-size: 14px;
    margin-bottom: 30px;
}

.block span {
    color: #B14101;
    font-size: 12px;

}

/* ПОДВАЛ */
footer {
    margin-top: 50px;
    height: 227px;
    background-color: #3B3937;

}

.footer-block img {
    width: 120.38px;
    height: 59.92px;
}

.footer-block {
    color: #fff;
    display: grid;
    padding-top: 30px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(1, 197px);
    gap: 20px;
}

.mn-0 {
    margin-left: 300px;
}

.mn-0 p {
    font-size: 16px;
}

.mn-1 p {
    font-size: 16px;
    margin-bottom: 19px;
}

.mn-1 h2 {
    margin-bottom: 25px;
}

.mn-2 p {
    font-size: 16px;
    margin-bottom: 15px;
}

@media (max-width: 1440px) {
    .wrapper {
        width: 1180px;
    }

    header {
        height: 90px;
    }

    .logo img {
        height: 53.27px;
        width: 90px;
    }

    .main-menu ul li a {
        font-size: 16px;
    }

    .main-menu span {
        font-size: 16px;

    }

    .banner {
        height: 646px;
    }

    .ring {
        width: 583px;
        height: 583px;
    }

    .ring h1 {
        font-size: 48px;
    }

    .ring p {
        font-size: 18px;
    }

    .ring button {
        width: 191.505px;
        height: 63.835px;
        font-size: 15px;
    }

    h1 {
        font-size: 32px;
    }

    .elem img {
        width: 163.63px;
        height: 162.75px;
    }

    .elem p {
        font-size: 18px;
    }

    .elem p span {
        font-size: 18px;
    }

    .prod {
        display: grid;
        grid-template-columns: repeat(4, 280px);
        grid-template-rows: repeat(3, 280px);
        gap: 20px;
    }

    .block {
        width: 280px;
        height: 297.88px;
    }

    .info-block {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(4, 280px);
        grid-template-rows: repeat(1, 297.88px);
        gap: 20px;

    }

    .block img {
        width: 279.117px;
        height: 120.426px;
    }

    .block p {
        font-size: 10px;
    }

    .footer {
        height: 300px;
    }

    .mn-0 p {
        font-size: 13px;
        margin-bottom: 5px;
    }

    .mn-1 p {
        font-size: 13px;
    }

    .mn-2 p {
        font-size: 13px;
        margin-bottom: 18px;
    }
}

@media (min-width:1024px) and (max-width:1280px) {
    .wrapper {
        width: 1060px;
    }

    .main-menu ul li {
        margin-left: 34px;
    }

    .main-menu ul li a {
        font-size: 16px;
    }

    .banner {
        height: 574px;
    }

    .ring {
        width: 526px;
        height: 526px;
    }

    .ring button {
        width: 191.505px;
        height: 63.835px;
    }

    .elem img {
        width: 146.094px;
        height: 145.313px;
    }

    .prod {
        display: grid;
        grid-template-columns: repeat(4, 250px);
        grid-template-rows: repeat(3, 250px);
        gap: 20px;
    }

    .block {
        width: 250px;
        height: 266px;
    }

    .info-block {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(4, 250px);
        grid-template-rows: repeat(1, 266px);
        gap: 20px;

    }

    .block img {
        width: 249.211px;
        height: 107.538px;
    }

    .block p {
        font-size: 10px;
    }

    .mn-1 p {
        font-size: 13px;
        margin-bottom: 17px;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .wrapper {
        width: 968px;
    }

    h1 {
        font-size: 32px;
    }

    header {
        height: 80px;
    }

    .main-menu ul li {
        margin-left: 20px;
    }

    .main-menu ul li a {
        font-size: 12px;
    }

    .logo {
        width: 73px;
        height: 34.94px;
    }

    .banner {
        height: 470px;
    }

    .ring {
        width: 412px;
        height: 412px;
    }

    .ring h1 {
        font-size: 36px;
    }

    .ring p {
        font-size: 16px;
    }

    .ring button {
        width: 150px;
        height: 50px;
    }

    .elem img {
        width: 184.663px;
        height: 183.675px;
    }

    .elem {
        width: 316px;
        height: 316px;
    }

    .elem p {
        font-size: 18px;
    }

    .prod {
        display: grid;
        grid-template-columns: repeat(3, 310px);
        grid-template-rows: repeat(4, 316px);
        gap: 20px;
    }

    .block {
        width: 317px;
        height: 341px;
    }

    .info-block {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 310px);
        grid-template-rows: repeat(2, 341px);
        gap: 20px;

    }

    .info-block {
        width: 317px;
        height: 341px;
    }

    .block:nth-child(4) {
        display: none;
    }

    .block img {
        width: 316px;
        height: 142px;
    }

    .block p {
        font-size: 12px;
    }

    .block span {
        font-size: 16px;
    }

    .footer {
        height: 200px;
    }

    .mn-0 {
        margin-left: 150px;
    }

    .mn-1 p {
        font-size: 13px;
        margin-bottom: 17px;
    }
}

@media (min-width:480px) and (max-width:768px) {
    .wrapper {
        width: 679px;
    }

    .main-menu ul li {
        margin-left: 24px;
    }

    .main-menu ul li a {
        font-size: 14px;
    }
    

    .logo {
        width: 73px;
        height: 34.938px;
        margin-left: 44px;
    }

    .banner {
        height: 470px;
    }

    .ring {
        width: 412px;
        height: 412px;
    }

    .ring button {
        width: 150px;
        height: 50px;
    }
    .ring h1 {
        font-size: 36px;
    }
    .elem img {
        width: 191.675px;
        height: 190.65px;
    }

    .prod {
        display: grid;
        grid-template-columns: repeat(2, 328px);
        grid-template-rows: repeat(6, 328px);
        gap: 20px;
    }

    .block {
        width: 328.959px;

    }

    .info-block {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 330px);
        grid-template-rows: repeat(2, 355px);
        gap: 20px;

    }

    .block img {
        width: 328.959px;
        height: 148.239px;
    }

    .block p {
        font-size: 12px;
    }

    .mn-0 {
        margin-left: 61px;
    }
    .footer {
        height: 300px;
    }

    .mn-1 {
        font-size: 13px;
        margin-bottom: 16px;
    }

    .mn-2 p {
        font-size: 13px;
        margin-bottom: 18px;
    }

}
